#Ignoring cache and checkpoint folders
espr/__pycache__
espr/dask-worker-space
espr/.ipynb_checkpoints
.vscode

#Ignoring Jupyter notebooks
espr/*.ipynb
test/*.ipynb
notebooks/

#Ignoring reforecast data folders
reforecasts/

#Ignoring analysis folders
analysis/

